* {
    background: #181212E6;
    background-alt: #2f2828FF;
    foreground: #ece0dfFF;
    foreground-dim: #d7c2c0FF;
    selected: #ffb3b0FF;
    selected-text: #522120FF;
    border-color: #9f8c8b40;
}
